<!DOCTYPE html>
<html>
<body>
<div>

<label>Id:<label>
<input type="text" id="text"></input></div><br>
<button type="button" onclick="loadDoc()">Request data</button>



<p id="demo"></p>

<script>

function loadDoc(){
var suffix=document.getElementById("text").value;
var xhr = new XMLHttpRequest();
var url='http://127.0.0.1:8000/api/countries/';
url+=suffix;
xhr.open('DELETE',url);
xhr.responseType = 'json';
xhr.onload = function(e) {
  if (this.status == 204) {
    console.log('response', this.response); // JSON response
    var obj=this.response;  
    document.getElementById("demo").innerHTML = JSON.stringify(obj);
    //document.getElementById("demo").innerHTML = url;
    
}
};
xhr.send();


}
</script>

</body>
</html>
