<!DOCTYPE html>
<html>
<title>Restapi_fn</title>
<style>
table, th, td {
  border: 1px solid red;
}
</style>

<body bgcolor="#87ceeb">

<fieldset><br>
	Display all elements:<br><br>
	<button type="button" onclick="loadFull()">Show data</button>
	<p id="showfull"></p>
</fieldset>

<br>
<br><br>

<fieldset><br>
	Select an element by its id:<br><br>
	<div>
	<label>Id:<label>
	<input type="text" id="loadone_text"></input>
	<button type="button" onclick="loadOne()">Request data</button></div>
	<p id="showone"></p></div>
</fieldset>

<br>
<br><br>

<fieldset>
	Delete an element by its id:<br><br>
	<div>
	<label>Id:<label>
	<input type="text" id="deleteone_text"></input>
	<button type="button" onclick="deleteOne()">Delete data</button></div>
	<p id="deleteone"></p>

</fieldset>

<br>
<br><br>
<fieldset>
	<form>
		Insert an element by its id:<br><br>
		<label>Country:</label>
		<input type="text"  id="insertone_country"/>
		<label>Capital:</label>
		<input type="text" id="insertone_capital"/>
		<button type="button" onclick="insertOne()">Insert</button>
	</form>

	<p id="insertone"></p>

</fieldset>
<br>
<br><br>


<fieldset>
	<form>
		Update an element by its id:<br><br>
		<label>Id:</label>
		<input type="text"  id="updateone_id"/>
		<label>Country:</label>
		<input type="text"  id="updateone_country"/>
		<label>Capital:</label>
		<input type="text" id="updateone_capital"/>
		<button type="button" onclick="updateOne()">Update</button>
	</form>

	<p id="updateone"></p>

</fieldset>
<br>
<br><br>
<br>
<br><br>


<script>

function loadFull()
	{
		var i;
		var xhr = new XMLHttpRequest();
		xhr.open('GET','http://127.0.0.1:8000/api/countries');
		xhr.responseType = 'json';
		xhr.onload = function(e) 
			{
 			if (this.status == 200) {
    					console.log('response', this.response); // JSON response
    					var obj=this.response; 
					var str="<table><tr><th>Id</th><th>Country</th><th>Capital</th></tr>";
    					for (i = 0; i < obj.length; i++) 
					{ 
    						jid=JSON.stringify(obj[i].id);
    						jname = JSON.stringify(obj[i].name);
    						jcapital=JSON.stringify(obj[i].capital);
    						str=str+"<tr><td>"+jid+"</td><td>"+jname+"</td><td>"+jcapital+"</td></tr>";
					}
    					str=str+"</table>";
    					document.getElementById("showfull").innerHTML=str;
    
						}
			};
			xhr.send();
	}



function loadOne(){
	var suffix=document.getElementById("loadone_text").value;
	var xhr = new XMLHttpRequest();
	var url='http://127.0.0.1:8000/api/countries/';
	url+=suffix;
	xhr.open('GET',url);
	xhr.responseType = 'json';
	xhr.onload = function(e)
		 {
  		if (this.status == 200)
			 	{
    				console.log('response', this.response); // JSON response
    				var obj=this.response;  
    				document.getElementById("showone").innerHTML = JSON.stringify(obj);
    				}
		};
		xhr.send();
	}



function deleteOne(){
	var suffix=document.getElementById("deleteone_text").value;
	var xhr = new XMLHttpRequest();
	var url='http://127.0.0.1:8000/api/countries/';
	url+=suffix;
	xhr.open('DELETE',url);
	xhr.responseType = 'json';
	xhr.onload = function(e) {
  		if (this.status == 204)
			 {
    			console.log('response', this.response); // JSON response
    			var obj=this.response;  
    			document.getElementById("deleteone").innerHTML = JSON.stringify(obj);
    			}
		};
		xhr.send();
	}


function insertOne(){
	var object = {};
	object["name"] = document.getElementById("insertone_country").value;
	object["capital"] = document.getElementById("insertone_capital").value;
	var datapass = JSON.stringify(object);
	var xhr = new XMLHttpRequest();
	var url='http://127.0.0.1:8000/api/countries/';
	xhr.open('POST',url);
	xhr.responseType = 'json';
	xhr.onload = function(e) {
 		if (this.status == 201) {
   			console.log('response', this.response); // JSON response
   			var obj=this.response;  
   			document.getElementById("insertone").innerHTML = JSON.stringify(obj)+"  Successfully created";
			}
		};
	xhr.send(datapass);
	}


function updateOne(){
	var suffix=document.getElementById("updateone_id").value;
	var object = {};
	object["name"] = document.getElementById("updateone_country").value;
	object["capital"] = document.getElementById("updateone_capital").value;
	var datapass = JSON.stringify(object);
	var xhr = new XMLHttpRequest();
	var url='http://127.0.0.1:8000/api/countries/';
	url+=suffix;
	xhr.open('POST',url);
	xhr.responseType = 'json';
	xhr.onload = function(e) {
 		if (this.status == 200) {
   		console.log('response', this.response); // JSON response
   		var obj=this.response;  
   		document.getElementById("updateone").innerHTML = JSON.stringify(obj)+"  Successfully updated";
		}
	};
	xhr.send(datapass);
}

</script>

</body>
</html>
